<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness Tracker - Login</title>
    <link rel="icon" href="/logo.png" type="punlic/png" sizes="32x32">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="container">
        <div class="image-side" style="background-image: url('/login_back.png');"></div>
        <div class="login-side">
            <div class="header-container">
                <div class="brand-logo" style="background-image: url('/logo.png');"></div>
                <div class="brand-title">
                    <h1>FITNESS</h1>
                    <h1>TRACKER</h2>
                </div>
            </div>
            {{#if message}}
                <h4 class="message">{{message}}</h4>
            {{/if}}
            <form id="loginForm" action="/auth/login" method="POST">
                <div class="input-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" required>
                </div>
                <div class="input-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" required>
                </div>
                <button type="submit">Login</button>
            </form>
            <p class="signup-text">Need an account? <a href="/register">Sign up</a></p>     


        </div>

    </div>
        

</body>
</html>
