body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #090502;
}

.container {
    display: flex;
    height: 100vh;
}

.image-side {
    flex: 1;
    background: url('login_back.png') no-repeat center center;
    background-size: cover;
}

.login-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers horizontally */
    justify-content: center; /* Centers vertically */
    background: #090502;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.brand-logo {
    /* Adjust as necessary */
    width: 100px; 
    height: 100px; 
    /* Make sure the logo image fits inside the container */
    background-size: contain; 
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 15px; /* Adjust the spacing between the logo and the text */
}

.brand-title {
    display: flex;
    flex-direction: column; /* STACKS FITNESS on top of TRACKER */
    align-items: flex-start; /* Aligns the text to the start of the flex container */
}

.brand-title h1{
    margin: 0;
    color: #fff;
}

#loginForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align form items */
    width: 100%; /* You might want to set a max-width */
    max-width: 320px; /* Or whatever width you prefer */
}

.input-group {
    margin-bottom: 15px;
    width: 100%; /* Full width of form */
}

.input-group label {
    color: #fff;
    display: block;
    text-align: left;
    margin: 5px 0;
}

.input-group input {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: #fff;
}

button {
    width: calc(100% - 20px); /* Full width minus padding */
    padding: 10px;
    margin-top: 10px;
    background-color: #00adee;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #009ddc;
}

.signup-text {
    font-size: 0.9em;
    color: #fff;
    text-align: center; /* Center the text */
    width: 100%; /* Full width to center within */
}

.signup-text a {
    color: #00adee;
    text-decoration: none;
}

.signup-text a:hover {
    text-decoration: underline;
}

.login-text {
    font-size: 0.9em;
    color: #fff;
    text-align: center; /* Center the text */
    width: 100%; /* Full width to center within */
}

.login-text a {
    color: #00adee;
    text-decoration: none;
}

.login-text a:hover {
    text-decoration: underline;
}

#signupForm {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center align form items */
    width: 100%; /* You might want to set a max-width */
    max-width: 320px; /* Or whatever width you prefer */
}

.header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background: #090502;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(170, 170, 170, 0.1);
    justify-content: space-between;
}

.header-group {
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    text-decoration: none; /* This removes the underline */
    color: #fff; /* Set the text color to white or any color you prefer */
    margin-left: 20px;
}

.logo-container:hover,
.logo-container:focus {
    text-decoration: none; /* This ensures the underline doesn't appear on hover/focus */
}

.logo-container img.logo {
    height: 30px; /* Adjust the size as needed */
    margin-right: 10px; /* Gives some space between logo and title */
}


.search-container {
    display: flex;
    justify-content: center; /* This centers the search bar */
    align-items: center; /* This vertically centers the search bar in the container */
    width: 100%;
}

/* Style the search input field itself */
.search-container input[type="search"] {
    width: 100%; /* Adjust the width as needed */
    max-width: 300px; /* This prevents the search bar from getting too wide */
    padding: 8px 15px; /* Adjust padding as needed */
    border-radius: 20px; /* This creates rounded corners on the search input */
    border: none; /* Remove default border */
    background-color: #333; /* Dark background for the input */
    color: #fff; /* Light color for the input text */
    margin-right: 10px; /* Space before the search icon */
    outline: none; /* Removes the highlight border that appears on click */
    margin: auto;
}

/* Style for the search icon */
.search-icon {
    color: #fff;
    background-color: #333;
    border-radius: 50%; /* Circular shape */
    padding: 8px; /* Size of the padding around the icon */
    margin-left: -40px; /* Overlaps the icon with the input field */
    border: none; /* Remove default border */
    cursor: pointer; /* Changes cursor to a pointer on hover */
}

.profile-container {
    /* Ensuring the container does not push the profile off screen */
    margin-left: auto; /* This pushes the profile container to the right */
    margin-right: 50px; /* Space between profile picture and window edge */
    display: flex;
    align-items: center;
}

.profile-picture {
    height: 40px; /* Matching the header height minus some padding */
    width: 40px; /* Keep the width the same as the height for a circle */
    border-radius: 50%; /* Circle shape */
    object-fit: cover; /* Cover fit for the image within the container */
    border: 2px solid white; /* Optional: Adds a white border around the picture */

}

/* Resetting the styles for the hamburger icon to ensure no inherited styles */
.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 30px; /* Width of the hamburger icon */
    height: 21px; /* Height of the hamburger icon */
    padding: 0; /* No padding to avoid increasing the size */
    margin: 0; /* No margin to avoid increasing the size */
    background: none; /* No background unless needed */
    border: 0; /* No border to avoid increasing the size */
    box-sizing: border-box; /* Ensures padding and border are included in width/height */
    cursor: pointer; /* Changes cursor to pointer on hover to indicate clickability */
}

/* Resetting the styles for the spans to represent the lines of the hamburger icon */
.hamburger-icon span {
    display: block;
    height: 2px; /* Height of each line */
    width: 100%; /* Lines should be as wide as the container */
    background: #fff; /* Color of the hamburger lines */
    margin: 0; /* No margin to avoid increasing the size */
    padding: 0; /* No padding to avoid increasing the size */
}

/* Ensure the container of the hamburger icon is not contributing to the clickable area */
.sidebar-toggle {
    display: inline-block; /* Only as big as necessary to contain the hamburger icon */
    padding: 0; /* No padding */
    margin: 0; /* No margin */
    background: none; /* No background unless needed */
    border: 0; /* No border */
    box-sizing: border-box; /* Includes padding and border in the width and height */
    cursor: pointer; /* Change cursor to pointer on hover */
}

/* Additional styles to ensure the sidebar-toggle does not occupy more space than it should */
.sidebar-toggle:focus,
.sidebar-toggle:active {
    outline: none; /* Removes the outline on focus to avoid increased size */
}


.sidebar {
    width: 240px;
    height: 100vh;
    background-color: #0A0603;
    padding-top: 1em;
    border-right: 1px solid #E0E0E0;
    position: fixed;
    top: 50px; /* height of the header */
    left: 0;
    transition: transform 0.3s ease-in-out;
    z-index: 999;
}

.sidebar.active {
    transform: translateX(-240px);
}


@media (max-width: 768px) {
    .sidebar {
        transform: translateX(-240px);
    }
    .sidebar.active {
        transform: translateX(0);
    }

    .content.active {
        margin-left: 240px;
    }

}

/* Sidebar styling */
/* Sidebar container */
.sidebar-section {
    background-color: #0A0603; /* Dark background color */
    color: #ffffff; /* White text color for contrast */
    /* ... other styles if necessary ... */
  }
  
  /* Sidebar items */
.sidebar-item {
    padding: 10px 20px; /* Spacing inside each item */
    display: flex; /* To align icons and text */
    align-items: center; /* Vertically center content */
    text-decoration: none; /* Remove underline from links */
    color: #ffffff; /* Text color */
    /* ... other styles if necessary ... */
}
  
.sidebar-item:hover {
    background-color: #201C1E; /* Slightly lighter shade for hover */
}
  
  /* Active sidebar item */
.sidebar-item.active {
    background-color: #201C1E; /* Highlight color for active item */
}
  
  /* Icons in the sidebar */
.icon-placeholder {
    /* Assuming you have some placeholder for icons */
    display: inline-block;
    width: 24px; /* Icon width */
    height: 24px; /* Icon height */
    margin-right: 10px; /* Space between icon and text */
    background-color: #ccc;
}
  
  /* Text next to icons */
.sidebar-text {
    /* If you have specific styling for text next to icons */
    display: inline;

}
  
  /* Separators in the sidebar */
.sidebar-separator {
    margin: 12px 0; /* Space above and below the separator */
    height: 2px; /* No border if you want a line separator, set a height instead */
    background-color: #070707; /* If you want a separator line */
}
  

.message {
    color: #fff; /* White text color for visibility on the dark background */
    background-color: #1A1A1D; /* Dark background similar to the page's theme */
    border-left: 4px solid #00A6ED; /* A bright blue border on the left for a pop of color */
    padding: 10px 20px; /* Some padding for spacing */
    margin: 10px 0; /* Margin for separation from other elements */
    border-radius: 4px; /* Slightly rounded corners */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Subtle shadow for a 3D effect */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Modern font */
    font-size: 0.9rem; /* Appropriate font size */
    letter-spacing: 0.5px; /* Slightly spread letters for readability */
    display: block; /* Block display to fit the width of the container */
    width: calc(100% - 525px); /* Full width minus padding */
    box-sizing: border-box; /* Box-sizing to ensure padding doesn't affect width */
  }

  .dashboard {
    color: #fff; /* White text color for readability */
    background-color: #090502; /* Your chosen background color */
    padding: 20px; /* Spacing inside the dashboard */
    margin-top: 50px; /* Set to the height of your header */
    margin-left: 240px; /* Set to the width of your sidebar */
    /* ... other styles ... */
}

/* Rest of the .dashboard related styles */
.welcome {
    font-size: 2rem; /* Larger text for the welcome message */
    margin-bottom: 1.5rem; /* Space after the welcome message */
}
.overview-section {
    background-color: #1a1a1d; /* Slightly lighter shade for sections */
    padding: 15px; /* Padding inside each section */
    margin-bottom: 20px; /* Space between sections */
    border-radius: 5px; /* Slightly rounded corners for aesthetic */
}
.overview-section h2 {
    font-size: 1.5rem; /* Larger text for section titles */
    margin-bottom: 1rem; /* Space after section titles */
}



/* Adjustments for responsive design */
@media (max-width: 768px) {
    .dashboard {
        margin-left: 0; /* Reset margin for mobile */
    }
}
  
  /* Optionally, add some styling for the p elements or any other elements you include */
  

.activities-page {
    padding: 20px;
    background-color: #090502; /* Assuming a dark theme */
    color: #ffffff;
    margin-top: 60px; /* Adjust this value to the height of your header */
    padding-left: 260px;
    
    
}
  
.page-title {
    font-size: 2rem;
    margin-bottom: 20px;
}
  
.activity-logs,
.log-activity-form {
    width: 100%; /* Use full width */
    max-width: 1000px; /* Maximum width of content area */
    margin: 0 auto; /* Center horizontally */
}
  
.activity-list {
    list-style: none;
    padding: 0;
}
  
.activity-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding: 10px;
    background-color: #1a1a1d; /* A slightly lighter shade for each item */
    border-radius: 5px;
    
}
  
/*.activity-name {

}
  
.activity-duration,
.activity-date {

} */
  
.log-activity-form form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 20px;
}
  
.log-activity-form label {
    margin-bottom: 5px;
}
  
.log-activity-form input[type="text"],
.log-activity-form input[type="number"],
.log-activity-form input[type="date"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
}
  
.log-activity-form button {
    padding: 10px 20px;
    background-color: #00A6ED; /* A vibrant color for the button */
    color: #ffffff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
  
.activity-logs {
    background: #090502; /* White background for the card */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px auto; /* Centered on the page */
    padding: 20px;
    max-width: 900px; /* Max width for the table container */
  }
  
  .activities-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.05); /* Subtle shadow for each row */
  }
  
  .activities-table thead {
    background-color: #333333; /* Dark gray background for the header */
    color: #ffffff; /* White text for the header */
  }
  
  .activities-table th,
  .activities-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #dddddd; /* Light gray border for the cells */
  }
  
  .activities-table tbody tr:nth-of-type(even) {
    background-color: #1A1A1D; /* Light gray background for even rows */
  }
  
  .activities-table tbody tr:hover {
    background-color: rgb(48, 48, 48); /* Slightly darker gray background on hover */
  }
  
  .activities-table td {
    color: #ffffff; /* Darker text for the table cells for better readability */
  }
  

  #dailyActivityChart {
    width: 50px;
    height: 50px;
    display: block; /* May help with sizing and layout */
  }
  
  